*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 65px;
    width:1518px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    /* position:fixed; */
    justify-content: space-evenly;     
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazonlogo.png");
    height: 50px;
    width: 100px;
    background-size: cover ;
}
.border{
    border: 2px solid transparent;

}
.border:hover{
    border: 1px solid white;
    
}
/**  sdf**/
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 18px;
}
.add-sec{
font-size: 1rem;
margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}
/* box 3*/
.nav-search{
    display: flex;
    /* background-color: pink; */
    width: 620px;
    height: 40px;
    border-radius: 3px;
    margin-left: 10px;
}
.search-select{
    background-color: #ffffff;
    color: #0f1111;
    font-family: 14px Arial,sans-serif;
    width: 38px;
    margin-left: 10px;
    
}
.search-input{
    padding: 7px 10px 10px 10px ;
    width: 750px;
   
}
.search-icon{
    background-color: rgb(209, 164, 14);
    width: 45px;
    align-items: center;
    color: #0f1111;
    border-radius: 2px;

}
.i{
 margin-top:11px ;
 margin-left: 3px;
}
.india-logo1{
    display: flex;
}
.india-logo{
    height: 19px;
    margin-left: 11px;   
}
.EN{ 
    border:0;
    margin-left: 2px;
    color: white;
   background-color: #0f1111;
}
.nav-account-line1{
 font-size: 14px;
 
}
.cart1{
 display: flex;
}
.nav-account-line2{
 font-size: 16px  ;
 font-weight: bold;
}
.cart{
    margin-top: 10px;
    margin-left: 0px;
    font-weight: bold;
}
/** navdar 2**/
.nav-box1{
    height: 50px;
    width:1518px;
    background-color: #2e3030;
    display: flex;
    color: white;
   
}
/* .background{
    height:400px;
     width:1518px;
    
} */
.all{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 8px;
    
}
.nav-box1-1{
    width: 1000px;
    align-items: center;
    margin-top: 11px;
    margin-left: 15px;
}
.alll{
   
    font-size: 18px;
    margin-left: 15px;
    display: inline;
}
/** main **/
.main{
   display: flex;
   flex-wrap: wrap;
   background-image: linear-gradient(rgb(255, 115, 0),white);
   width: 1518px;
}
.main1{
   display: flex;
   flex-wrap: wrap;
   width: 1518px;
      
}
.box1{
    height: 400px;
    width: 340px;
    background-color: #f6fcfc;
    margin-top:300px;
    margin-left:30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px  rgb(102, 101, 101);
   
}
.box2{
    height: 400px;
    width: 340px;
    background-color: #f6fcfc;
    margin-top:20px;
    margin-left:30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px  rgb(102, 101, 101);
   
}
.box3{
    height: 150px;
    width: 340px;
    background-color: #f6fcfc;
    margin-top:300px;
    margin-left:30px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px  rgb(102, 101, 101);
   
}
.box4{
    height: 222px;
    width: 340px;
    margin-top:10px;
    margin-left:0px;
}
.img1{
    width: 320px;
    height: 250px;
    background-size:cover ;
    margin: 20px 18px 19px 13px ;

}
.img2{
    width: 130px;
    height: 105px;
    background-size:cover ;
    margin: 20px 18px 19px 13px ;

}
.img4{
    height: 221px;
    width: 310px;
    background-size:cover ;
    margin: 20px 18px 19px 13px ;
    box-shadow: 1px 2px 3px rgb(80, 78, 78);

}

.link{
margin-left: 15px; 
border-bottom: none;
}
.box3 .a{
    margin-top: 30px;
margin-left: 50px;
width: 240px;
height: 40px; 
border: 1px solid black;
 background-color: yellow;
 text-align: center; 
  border-radius: 30px;
}
.foo{
    margin-top: 10px;
    background-color: #393b3b;
    height: 50px;
    width: 1500px;
    border-radius: 3px;
}
 footer{
    margin-top: px;
    height: 500px;
    width: 1500px;
    background-color: #505353;
    border-radius: 5px;
    color: white;
    font-size: medium;
    
} 

